.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #b0a7a7;
  padding: 0%;
  background-size: cover;
  bottom: 10%;
}

nav {
  background-color: #1d7f7a;
  padding: 40px;
}

nav a {
  color: rgb(10, 62, 59);
  text-decoration-style: solid;
  margin: 0 30px;
  background-color: #d1e2ea;
  text-shadow: #4c0a0a;
}


nav a:hover {
  text-decoration: underline;
  text-size-adjust: 20px;
}


.content {
  padding: 10px;
}

/* Style the page titles */
h1 {
  color: #732d2d;
  margin-bottom: 10px;
}


p {
  color: #285060;
}

/* Style the links within the content */
.content a {
  color: #93bce8;
  text-decoration: none;
}

/* Style the links within the content on hover */
.content a:hover {
  text-decoration: underline;
}
